<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

 
<%= form_with(model: [ @company, @employee ]) do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :area %>
    <%= form.select :area_id, @areas.pluck(:name, :id), class: "form-control" %>
  </div>

  <%= form.submit 'Guardar', class: "btn btn-primary" %>

<% end %>

<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Area</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  <% @company.employees.each do |e| %>
    <tr>
      <td><%= e.first_name %></td>
      <td><%= e.last_name %></td>
      <td><%= e.email %></td>
      <td><%= e.area.name %></td>
      <td><%= link_to 'Eliminar', company_employee_path(@company, e), method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
